.Button {
  cursor: pointer;
  font-family: 'PFDinDisplayProLight', Helvetica, Arial;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--BrandDarkGrayColor);
  border-radius: 7px;
  color: var(--BrandBlackColor);
  border: 0;
  padding: 8px 12px;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .3s;

  @media (--mobile) {
    font-size: 14px;
  }
}

.Button:hover,
.Button:active {
  background-color: color(var(--BrandDarkGrayColor) alpha(-10%));
}

.Button:focus,
.Button:active {
  outline-style: none;
}

.Button.ButtonPrimary {
  background-color: var(--BrandTurquoiseColor);
  color: white;
}

.Button.ButtonPrimary:hover,
.Button.ButtonPrimary:active {
  background-color: color(var(--BrandTurquoiseColor) alpha(-10%));
}

.Button.ButtonPrimary--active {
  background-color: color(var(--BrandTurquoiseColor) alpha(-20%));
}

.Button.ButtonDanger {
  background-color: var(--BrandRedColor);
  color: white;
}

.Button.ButtonDanger:hover,
.Button.ButtonDanger:active {
  background-color: color(var(--BrandRedColor) alpha(-10%));
}

.Button.ButtonDisabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.7;
}

.ButtonLink {
  cursor: pointer;
  background-color: transparent;
  color: var(--BrandRedColor);
  font-size: 17px;
  border: 0;
  text-decoration: underline;
  transition: color .3s;

  @media (--mobile) {
    font-size: 14px;
    background-color: var(--BrandRedColor);
    color: var(--BrandWhiteColor);
    text-decoration: none;
  }
}

.ButtonLink:hover,
.ButtonLink:active {
  text-decoration: none;
  color: color(var(--BrandRedColor) alpha(-10%));

  @media (--mobile) {
    font-size: 14px;
    background-color: var(--BrandRedColor);
    color: var(--BrandWhiteColor);
    text-decoration: none;
  }
}

.ReloginButton {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/key.png');
  background-size: 32px;
  height: 30px;
  font-size: 0;
  width: 50px;
}
