.Input:not([type="file"]), .Textarea {
  font-family: 'PFDinDisplayProLight', Helvetica, Arial;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid var(--BrandDarkGrayColor);
  border-radius: 7px;
  color: var(--BrandBlackColor);
  padding: 8px 12px;
  font-size: 17px;
  box-shadow: none;
}

.Input-file-wrapper {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.Input-file-wrapper label,
.Input-file-wrapper input {
  margin-bottom: 10px;
}

.Input-file-wrapper .ButtonLink {
  padding: 0;
  font-size: 12px;
}

[type="file"] {
  font-family: 'PFDinDisplayProLight', Helvetica, Arial;
  display: inline-block;
  vertical-align: middle;
  color: var(--BrandBlackColor);
  font-size: 17px;
  box-shadow: none;
  border: none;
  outline: none;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}

label.Required::after {
  content: '*';
  color: var(--BrandRedColor);
  margin-left: 3px;
}

label.Label--fullWidth {
  display: block;
}

.Input:focus,
.Input:active {
  outline-style: none;
}

.Input:focus:required:invalid,
.Input.Input--invalid {
  border-color: var(--BrandRedColor);
}

.Input:required:valid {
  border-color: var(--BrandTurquoiseColor);
}

.Input::placeholder {
  color: var(--BrandGrayColor);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Input.Input--fullWidth {
  width: 100%;
  margin-bottom: 15px;
}

.Textarea {
  min-height: 200px;
  resize: vertical;
  box-shadow: none;
}

.Textarea.Textarea--fullWidth {
  width: 100%;
  margin-bottom: 15px;
  max-height: 100px;
  min-height: 100px;
}

.Select-outer {
  display: inline-block;
  position: relative;
}

.Select-outer::after {
  pointer-events: none;
  content: '';
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border: 6px solid transparent;
  border-top: 6px solid var(--BrandTurquoiseColor); 
}

.Select {
  width: 100%;
  max-width: 100%;
  font-family: 'PFDinDisplayProLight', Helvetica, Arial;
  color: var(--BrandBlackColor);
  padding: 8px 12px;
  font-size: 17px;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  appearance: none;
  border: 1px solid var(--BrandDarkGrayColor);
  border-radius: 7px;
}

.Select-outer.Select--fullWidth {
  width: 100%;
  margin-bottom: 15px;
}

.Select option.disabled {
  color: var(--BrandGrayColor);
}

.Radio, .Checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: 'PFDinDisplayProLight', Helvetica, Arial;
  color: var(--BrandBlackColor);
  font-size: 17px;
  padding-left: 20px;
}

.Radio.Radio--fullWidth,
.Checkbox.Checkbox--fullWidth {
  width: 100%;
  margin-bottom: 10px;
}

.Radio label,
.Checkbox label {
  cursor: pointer;
}

.Radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.Checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.Radio label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  z-index: 1;
  background-color: var(--BrandTurquoiseColor);
}

.Checkbox label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  z-index: 1;
  background-color: var(--BrandTurquoiseColor);
}

.Radio input[type="radio"]:checked + label::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 5px;
  display: block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  z-index: 2;
  background-color: var(--BrandWhiteColor);
}

.Radio input[type="radio"]:checked + label {
  font-weight: 700;
}

.Checkbox input[type="checkbox"]:checked + label::after {
  content: '✓';
  position: absolute;
  left: 2px;
  top: 0;
  display: block;
  font-size: 15px;
  z-index: 2;
  color: var(--BrandWhiteColor);
}

.Checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #a0a0a0;
}

.Checkbox input[type="checkbox"]:disabled + label {
  cursor: default;
}

.Form-control-half {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

.Form-control-half div {
  width: 50%;
  padding: 0 10px;
}

.Required-hint {
  margin: 15px 0;
  display: block;
  color: var(--BrandRedColor); 
}
