:root {
  --BrandTurquoiseColor: #3294af;
  --BrandBlackColor: #343434;
  --BrandWhiteColor: #ffffff;
  --BrandGrayColor: #a0a0a0;
  --BrandDarkGrayColor: #cccccc;
  --BrandRedColor: #d00000;
}

@custom-media --desktop-max (max-width: 1180px);
@custom-media --desktop (max-width: 1024px);
@custom-media --tablet (max-width: 768px);
@custom-media --mobile (max-width: 480px);
