.Add-vehicle-vendors {
  margin: 40px auto 0;
}

.Add-vehicle-vendors .Radio-buttons,
.Add-vehicle-vendors .Autocomplete {
  margin: 0 0 15px;
}

.Add-vehicle-vendors .Autocomplete .Input {
  width: 100%;
}
