.DriverModal .Input,
.DriverModal .Select-outer {
  width: 100%;
  margin-bottom: 15px;
}

.DriverModal .Radio {
  margin-bottom: 12px;
}

.DriverModal .Radio + .Radio {
  margin-left: 15px;
}

.DriverModal .Button {
  margin-top: 15px;
}

.DriverModal-autocomplete .Autocomplete-wrapper {
  width: 100%;
  max-width: 100%;
}

.Input.DriverModal-input-autocomplete {
  margin-bottom: 0;
}

.DriverModal-vehicle {
  position: relative;
  background-color: var(--BrandTurquoiseColor);
  border-radius: 3px;
  color: var(--BrandWhiteColor);
  padding: 7px 10px;
  font-size: 17px;
  margin-bottom: 5px;
}

.DriverModal-vehicle--remove {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 2px;
  color: var(--BrandWhiteColor);
  font-size: 23px;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  padding: 0;
}

.DriverModal-vehicle--remove:focus,
.DriverModal-vehicle--remove:active {
  outline-style: none;
}
