.Login {
  max-width: 380px;
  margin: 0 auto;
}

.Login .Input {
  width: 100%;
  margin-bottom: 15px;
}

.LoginActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LoginActions a {
  transition: color .3s;
  color: var(--BrandGrayColor);
}

.LoginActions a:hover,
.LoginActions a:active {
  color: color(var(--BrandGrayColor) alpha(-10%));
  text-decoration: none;
}
