.Message-error,
.Message-success {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 25px 0;
}

.Message-success {
  color: var(--BrandTurquoiseColor);
}

.Message-error {
  color: var(--BrandRedColor);
}
