.Pagination {
  max-width: 600px;
  margin: 50px auto 30px;
}

.Pagination div {
  display: flex;
  justify-content: center;
}

.Pagination div div {
  margin: 0 10px;

  @media (--mobile) {
    margin: 0 3px;
  }
}
