.Profile {
  max-width: 700px;
  margin: 0 auto;
}

.Profile h3 {
  font-family: 'PFDinDisplayProBold', Helvetica, Arial;
  font-size: 22px;
  text-align: center;
  margin: 60px 0 20px;

  @media (--tablet) {
    margin: 20px 0;
  }
}

.ProfileInfo .Table {
  max-width: 100%;
  width: 100%;
  font-size: 16px;

  @media (--tablet) {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.ProfileHistory {
  margin-bottom: 50px;
}

.ProfileActions {
  text-align: center;
}

.Feedback {
  max-width: 450px;
  margin: 0 auto;
}

.Feedback .Input,
.Feedback .Textarea {
  width: 100%;
  margin-bottom: 15px;
}

.FeedbackActions a {
  color: var(--BrandGrayColor);
  margin-left: 30px;
}
