.Settings {
  max-width: 450px;
  margin: 0 auto;
}

.Settings h3 {
  font-family: 'PFDinDisplayProBold', Helvetica, Arial;
  font-size: 22px;
  text-align: center;
  margin: 60px 0 20px;

  @media (--tablet) {
    margin: 0 0 20px;
  }
}

.Settings .Input {
  width: 100%;
  margin-bottom: 15px;
}

.SettingsActions a {
  color: var(--BrandGrayColor);
  margin-left: 30px;
}
